stages:
- stage: Compile
  jobs:
  - job: Compile
    container: gradle:latest
    steps:
    - script: chmod +x gradlew && ./gradlew build jacocoTestReport
- stage: SonarQube
  jobs:
  - job: Sonarscan
    steps:
    - script: |
        echo "Sonarqube Integration"
- stage: DockerBuildPush
  jobs:
  - job: DockerBuildPush
    steps:
    - script: |
        echo "Docker Build"
        echo "Docker Push"